<h1>Manage Projects</h1>
<div layout="row" div class="md-inline-form">
        <form>
        <input flex type="text" placeholder="Project name" ng-model="MPC.projectIn">
        <md-button class="md-raised" ng-click="MPC.postProject()">Submit</md-button>
        </form>
        </div>
        
        <table ng-table="MPC.tableParams" class="table" show-filter="true">
                <tr ng-repeat="project in $data">
                    <td title="'Task'" filter="{ task: 'text'}" sortable="'task'">
                        {{project.project}}</td>
                    <td title="'Total Hours'" sortable="'date'">
                        {{project.sum}}</td>
                    <td title="'Action'">
                            <md-button ng-click="MPC.deleteProject(project.id)">Delete</md-button> </td>
                </tr>
        </table>